{% extends 'staff/home.html' %}

{% block content %}
    <form action="{% url 'password_reset' %}" method="post">
        <div class="container w-25">
            <div class="col">
                <div class="row">
                    {% csrf_token %}
                    {% for f in form %}
                        <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                        {{ f }}
                    {% endfor %}
                    {{ f.errors }}
                    <button class="mt-4 ml-5 btn btn-primary w-100" type="submit">Сбросить пароль</button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}