{% extends 'staff/home.html' %}

{% block content %}
    <div class="row mt-4">
    </div>

    <form action="registration" method="post">
        <div class="container w-25 ">
            <div class="row">
                <div class="col">
                    {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% csrf_token %}
                    {% for f in form %}
                        <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                        {{ f }}
                    {% endfor %}
                    {{ f.errors }}
                    <button class="mt-4 ml-5 btn btn-primary w-100" type="submit">Зарегестрироваться</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}