{% extends 'staff/home.html' %}

{% block content %}
    <div class="row mt-4">
    </div>
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <form action="{% url 'registration' %}" method="post">
        <div class="container w-25 ">
            <div class="row">
                <div class="col">
                    {% csrf_token %}
                    {% for f in form %}
                        <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                        {{ f }}
                    {% endfor %}
                    <button class="mt-4 ml-5 btn btn-primary w-100" type="submit">Зарегестрироваться</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}